@import url("https://fonts.googleapis.com/css2?family=Caprasimo&display=swap");

:root {
	--color-accent: hwb(62 6% 22%);
	--color-accent-2: hsl(18, 65%, 45%);

	--color-accent-contrast: rgba(0, 0, 0, 0.413);
	--color-surface: rgb(238, 228, 228);
	--color-text: #2d3a41;
	--length-m: 1rem;
	--length-l: 2rem;

	--font-fancy: "Caprasimo", serif;
}

* {
	box-sizing: border-box;
}
html {
	font-family: system-ui, sans-serif;
	margin: 0;
	padding: 0;
	background-color: var(--color-surface);
}
body {
	margin: 0;
	padding: 0;
	color: var(--color-text);
	font-weight: 400;
	font-size: 1.2rem;
}

p {
	line-height: 1.6;
}
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.video,
.lite-youtube {
	max-width: 100%;
	background-color: black;
	border-radius: 0.2em;
}
