@import url("https://fonts.googleapis.com/css2?family=Caprasimo&display=swap");

:root {
	--color-surface: rgb(238, 228, 228);
	--color-text: #2d3a41;
	--color-link: #205699;
	--length-m: 1rem;
	--length-l: 2rem;

	--font-fancy: "Caprasimo", serif;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	font-family: system-ui, sans-serif;
	margin: 0;
	padding: 0;
	background-color: var(--color-surface);
}
body {
	margin: 0;
	padding: 0;
	color: var(--color-text);
	font-weight: 400;
	font-size: 1.2rem;
	box-sizing: border-box;
}

h1 {
	text-wrap: balance;
}

p {
	line-height: 1.6;
}
a {
	color: var(--color-link);
}
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.video,
.lite-youtube {
	max-width: 100%;
	background-color: black;
	border-radius: 0.2em;
}

.body-image {
	width: 100%;
	height: auto;
}
