---

import { getCollection } from "astro:content";
import BaseLayout from '../../layouts/Home.astro';
import ProjectsList from "../../components/ProjectsList.astro";
import Hero from "../../components/Hero.astro";

export async function getStaticPaths({}) {
  const allProjects = await getCollection("projects");
  const sortedProjects = allProjects.sort(
    (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf(),
  );
  const allTags = new Set();

  sortedProjects.map((project) => {
    project.data.tags && project.data.tags.map((tag) => allTags.add(tag));
  });

  return Array.from(allTags).map((tag) => {
    const filteredPosts = sortedProjects.filter((project) =>
      project.data.tags.includes(tag.toString()),
    );

    return {
      params: { tag },
      props: {
        projects: filteredPosts,
      },
    };
  });
}

const { tag } = Astro.params;
const { projects } = Astro.props;

---
<BaseLayout pageTitle={tag}>

  <Hero>
    <h1>{projects.length}&times; projects tagged <span class="highlight">{tag}</span></h1>
    <a class="lowlight" href="/tags">&LeftArrow; view all tags</a>
  </Hero>

	<ProjectsList projects={projects} />
</BaseLayout>