---
import Layout from "../../layouts/Home.astro"
import Tags from "../../components/Tags.astro";
---

<Layout>
	<div class="wrapper">
		<h1>Tag archive</h1>
	<Tags/>
	</div>
</Layout>

<style>
	.wrapper{
		padding: var(--length-m);
	}
</style>