---
import { getCollection } from "astro:content";
const projects = await getCollection("projects");

import Layout from '../layouts/Home.astro';
import ProjectsList from '../components/ProjectsList.astro';
import Hero from '../components/Hero.astro';
import Tags from "../components/Tags.astro";


---

<Layout
	title="Marc Heatley"
	description="This is my personal design portfolio. Some favourites from 1,000,000 years making pictures for money.">
	<Hero>
		<h1 class="bigh1">Hello! I'm <span class="highlight">Marc Heatley</span>. I think and talk about designing things <span class="lowlight">(a&nbsp;lot)</span> and then design <span class="lowlight">(really nice)</span> things.
	Here are some things I designed &DownArrow;</h1>
</Hero>
<div id="tags" class="tags-wrapper">
	<Tags/>
</div>
	<ProjectsList projects={projects}/>

</Layout>


