---

import Icon from "./Icon.astro";


---

<header>
	<div class="site-title">
		<a href="/">
			<span aria-roledescription="site title" class="visually-hidden">Marc Heatley Design</span>
			<Icon icon='mh'/>
		</a>
	</div>
</header>

<style>
	header{
		padding: var(--length-m);
		color: var(--color-surface);
		text-align: center;
		@container (width > 20rem){
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
	a{
		color: currentColor;
	}
	.site-title{
		display: flex;
		justify-content: center;
		padding: var(--length-m);
		
		svg{
			display: block;
			aspect-ratio: 1;
			width: 5rem;
			height: auto;

		}
	}
	

</style>