---
// import Image from 'astro/components/Image.astro'
// import photo from '../assets/img/heatley.jpg'
---



<main>
<slot/>
</main>

		<style>

			main{
				background-color:var(--color-text);
				color: var(--color-surface);
				padding:var(--length-l);
				display: grid;
				gap: 1rem;
				min-height: 40svh;
				border-bottom: solid thin;
				align-content: center;
				transition: .2s;

				@media (orientation:portrait) {
					min-height: 60vw;
				}

				h1.littleh1{
					font-size: 1.5rem;
				}

				h1.bigh1, .bigh1{
					line-height: 1;
					font-size: clamp(2rem, (1rem + 3vw), 10vw);
					margin: 0;
					text-wrap: balance;
					font-weight: 200;
					max-width: 50rem;
				}

				p{
					max-width: 50rem;
					text-wrap: balance;

				}
				.highlight{
					font-weight: 600;
				}
				.lowlight{
					opacity: .5;
				}

				a{
					font-weight: 200;
					font-size: clamp(1.5rem, (1rem + 1.5vw), 7vw);
					color: currentColor;
					text-decoration: none;
				}
			}
		</style>