---
import { Image } from 'astro:assets';
import Layout from '../../layouts/Home.astro';

import { getCollection } from 'astro:content';
import ProjectMeta from '../../components/ProjectMeta.astro';
export async function getStaticPaths() {
  const projectEntries = await getCollection('projects');
  return projectEntries.map(project => ({
    params: { slug: project.slug }, props: { project },
  }));
}
const { project } = Astro.props;
const { Content } = await project.render();
const image = project.data.image
---

<Layout title={project.data.title} description={project.data.excerpt}>

  <main>
  <div class="posterBox">
    <Image 
      src={image.src} 
      loading='eager'
      inferSize
      class='poster' 
      alt="featured"/>
  </div>
  
  
  <Content />
      
      
<ProjectMeta project={project.data} />
  </main>
</Layout>


<style is:global>

main{
  --inline-padding: var(--length-m);
	--content-width: 60ch;
  --breakout-width: 10ch;

  padding-block-end: var(--length-l);
  
  display: grid;
	grid-template-columns:
		[full-width-start]
    minmax(var(--inline-padding), 1fr)
    [breakout-start]
    minmax(0, var(--breakout-width))
		[content-start] min((100% - var(--inline-padding) * 2), var(--content-width)) [content-end]
     minmax(0, var(--breakout-width))
     [breakout-end]
		minmax(var(--inline-padding), 1fr) [full-width-end];
}

.posterBox{
  grid-column: full-width;
  display: flex;
  justify-content: center;
  background-color: rgba(0,0,0,0.1);
  transition: .2s;


  background-image:  linear-gradient(var(--color-surface) 2px, transparent 2px), linear-gradient(90deg, var(--color-surface) 2px, transparent 2px), linear-gradient(var(--color-surface) 1px, transparent 1px), linear-gradient(90deg, var(--color-surface) 1px, #d3bebe 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
background-position: center;
background-attachment: fixed;
padding: var(--length-m);
  @container (width > 60ch) {
    padding: var(--length-l);
  }
}
.poster{
  aspect-ratio: 210/297;
  width: auto;
  height: auto;
  max-height: 75svh;
  max-width: 100%;
  border: solid var(--length-m) white;
  border-radius: .1em;
    @container (width > 70ch) {
      box-shadow: 0 0 .5em  rgba(0,0,0,0.1);;
    }
}


main > *{
  grid-column: content;
}


main > .video,
main > .lite-youtube, 
main > .body-image {
  grid-column: breakout;
}

</style>