---

import Header from '../components/Header.astro';
import '../assets/css/style.css';
import Footer from '../components/Footer.astro';

const { title, description, form=true } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={`${description} | MHD`} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="layout">
		<div class="header-wrapper">
			<Header/>
		</div>
		<div class="content-wrapper">
			<slot />

			
			<Footer  form={form} />
		
		</div>
	</body>
</html>
<style>
	.layout{
		display: grid;
		min-height: 100lvh;
		grid-template-rows: min-content 1fr;
		@media (width > 40rem) {
			grid-template-rows: unset;
				grid-template-columns:min(16rem, 20vw) 2fr;
		}
	}
	.header-wrapper{
		container-type: inline-size;
		background-color: black;
		align-content: center;
		max-height: 100lvh;

		@media (width > 40rem) {
			position: sticky;
			top: 0;
		}
	}

	.content-wrapper{
		container-type: inline-size;
	}



</style>
